.dev-class {
  width: 400px;
  height: 900px;
}

/* Appendix */
/*
  Grid System
*/
/* End Appendix */


/* Grid Systsem */
.aa-container {
  max-width: 450px
  margin-left: auto;
  margin-right: auto;
}

.aa-container *{
  box-sizing: border-box; 
}
.aa-row:before, .aa-row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='aa-col-'] {
  width: 8.33%;  
  min-height: 1px; 
  float: left;
}

.aa-col-1 {
  width: 8.33%;   
}
.aa-col-2 {
  width: 16.66%;   
}
.aa-col-3 {
  width: 25%;   
}
.aa-col-4 {
  width: 33.33%;   
}
.aa-col-5 {
  width: 41.66%;   
}
.aa-col-6 {
  width: 50%;   
}
.aa-col-7 {
  width: 58.33%;   
}
.aa-col-8 {
  width: 66.66%;   
}
.aa-col-9 {
  width: 75%;   
}
.aa-col-10 {
  width: 83.33%;   
}
.aa-col-11 {
  width: 91.66%;   
}
.aa-col-12 {
  width: 100%;   
}

/* End of Grid Systems */