.dev-class {
  width: 400px;
  height: 900px;
}


/* Appendix */
/*
  Global:
    Grid System
    Background
    Nav
  
  Pages:
    Main
      - Head 
      - Main
      - Popular Showcase
    Airing
      - Sidebar
        - Seasons
        - Genres
      - Main
*/
/* End Appendix */

/* Main CSS */
/* Grid Systsem */
.aa-container {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.aa-container *{
  box-sizing: border-box; 
}
.aa-row:before, .aa-row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='aa-col-'] {
  width: 8.33%;  
  min-height: 1px; 
  float: left;
}

.aa-col-1 {
  width: 8.33%;   
}
.aa-col-2 {
  width: 16.66%;   
}
.aa-col-3 {
  width: 25%;   
}
.aa-col-4 {
  width: 33.33%;   
}
.aa-col-5 {
  width: 41.66%;   
}
.aa-col-6 {
  width: 50%;   
}
.aa-col-7 {
  width: 58.33%;   
}
.aa-col-8 {
  width: 66.66%;   
}
.aa-col-9 {
  width: 75%;   
}
.aa-col-10 {
  width: 83.33%;   
}
.aa-col-11 {
  width: 91.66%;   
}
.aa-col-12 {
  width: 100%;   
}

.aa-col-20 {
  width: 20%;
}

.aa-col-80 {
  width: 80%;
}
/* End of Grid Systems */

/* Background*/
.aa-bg {
  width: 50%;
  min-height: 575px;
  max-height: 575px;
  position: fixed;
}
.aa-bg:nth-of-type(1) {
  /*background-color: #444444;*/
  background-color: #f1f1f1;
}
.aa-bg:nth-of-type(2) {
  /*background-color: #ffffff;*/
  background-color: #f1f1f1;
  left: 50%;
}
/* End Background*/

/* Nav */
.aa-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color:  #232323;
  min-height: 40px
  max-height: 40px;
}
.aa-nav-container {
  display: flex;
  min-height: 40px;
  max-height: 40px;
}

.aa-nav-style {
  min-height: 40px;
  max-height: 40px;
  padding: 10px 0px 0px 15px;
  width: 30%;
}

.aa-nav-style:last-child {
  padding: 10px 20px 0px 0px;
}

.aa-nav-style > img {
  width: 120px;
  height: 20px;
}

.aa-nav-links {
  width: 40%;
  min-height: 40px;
  max-height: 40px;
  padding: 8px 10px 8px 10px;
}

.aa-nav-icons {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

div.aa-nav-links > a:nth-of-type(5) > img.aa-nav-icons {
  margin-right: 0px;
}
/* End Navr*/

/* Head */
.aa-head {
  padding-top: 10px;
}

.aa-hcenter {
  font-size: 26px;
  font-family: Helvetica;
  font-style: italic;
}

.aa-hcenter div {
  float: left;
  width: 50%;
}

.aa-hcenter div:nth-of-type(1){
  padding-left: 24%;
  color: #444444;
}

.aa-hcenter div:nth-of-type(1) span:after {
  position: absolute;
  content: "";
  height: 12px;
  width: 85px;
  left: 140px;
  top: 40px;
  background-color: #ffc957;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #ffc957;
  border-radius: 10px 0px 0px 10px;
}

.aa-hcenter div:nth-of-type(2){
  padding-left: 1%;
  color: #ffc957;
}

.aa-hcenter div:nth-of-type(2) span:after{
    position: absolute;
    content: "";
    height: 12px;
    width: 85px;
    right: 140px;
    top: 40px;
    background-color: #444444;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #ffc957;
    border-radius: 0px 10px 10px 0px;
}

.aa-hleft {
  padding-left: 20px;
}

.aa-hright {
 padding-left: 20px;
}

.aa-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;
}

.aa-switch input {display:none;}

.aa-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7a7a7a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;

}

.aa-slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  right: 0px;
  top: -3px;
  background-color: #444444;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .aa-slider {
  background-color: #ffc957;
}

input:focus + .aa-slider {
  box-shadow: 0 0 1px #ffc957;
}

input:checked + .aa-slider:before {
  -webkit-transform: translateX(-19px);
  -ms-transform: translateX(-19px);
  transform: translateX(-19px);
}
/* End Head*/

/* Main*/
main {
  width: 100%;
  height: 300px;
  margin-top: 40px;
  padding: 10px;
  border: 2px solid #ffc957;
  border-radius: 5px;
  box-shadow: 5px 5px 0px 0px #ffc957;
  background-color: #f7f6f6;
}

main > div.row > div.aa-col-7 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}

main > div.row > div.aa-col-5 > div {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aa-anime-streams {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.aa-anime-streams:last-child { 
  margin-right: 0px; 
}

.aa-card {
  content: "";
  width: 100%;
  padding: 10px 10px 5px 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  clear: both;
}

.aa-card-image {
  width: 45%;
  height: 210px;
  position: relative;
  background-size: 100% 100%;
}

.aa-card-info {
  width: 55%;
  height: 210px;
  position: relative;
  border: 1px solid #ffc957;
  padding: 5px
}

.aa-card-info-flex {
  display: flex;
  flex-wrap: wrap;
}

.aa-card-title {
  width: 20%;
  font-size: 14px;
  font-weight: bold;
}

#main-title {
  width: 80%;
  padding: 2px;
  font-size: 12px;
}

.aa-card-episodes {
  width: 35%;
  font-size: 14px;
  font-weight: bold;
}

#main-episode {
  width: 25%;
  padding: 2px 2px 2px 4px;
  font-size: 12px;
}

#main-type {
  width: 40%;
  padding: 2px 15px 2px 4px;
  font-size: 12px;
  text-align: right;
  font-weight: bold;
  font-style: normal;
}

#main-desc {
  min-height: 130px;
  max-height: 130px;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid #ffffff;
  overflow-y: scroll;
}

#main-studio {
  width: 45%;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

#main-mal-link {
  width: 55%;
  margin-top: 5px;
  text-align: right;
}

.aa-card-footer {
  content: "";
  width: 100%;
  padding: 0px 10px 0px 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  clear: both;
}

.aa-card-footer-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#main-genre {
  width: 45%;
  font-size: 10px;
  font-style: italic;
}

#main-rating {
  width: 55%;
  text-align: center;
  position: relative;
  top: -4px;
}

.aa-main-star {
  font-size: x-large;
  width: 20px;
  display: inline-block;
  color: gray;
}
.aa-main-star:last-child {
  margin-right: 0;
}
.aa-main-star:before {
  content:'\2605';
}
.aa-main-star.full {
  color: #ffc957;
}
.aa-main-star.half:after {
  content:'\2605';
  color: #ffc957;
  position: absolute;
  margin-left: -20px;
  width: 10px;
  overflow: hidden;
}
/* End Main*/

/* Popular Showcase*/
.aa-popular-anime {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.aa-popular-anime > img {
  width: 85px;
  height: 85px;
  margin-right: 20px;
  box-shadow: 0px 1px 10px 3px #0c0a0a;
  border: 1px solid #ffc957;
}

.aa-popular-anime > img:last-child {
  margin-right: 0px;
}
/* End Popular Showcase*/
/* End Main CSS */

/* Airing CSS */
/* Sidebar */
#aa-airing-sidebar {
  background-color: #2e3136d9;
  min-height: 535px;
  max-height: 535px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#aa-airing-sidebar::-webkit-scrollbar {
  width: 10px;
}

#aa-airing-sidebar::-webkit-scrollbar-track {
  background: #888888; 
}
 
#aa-airing-sidebar::-webkit-scrollbar-thumb {
  background: #232323; 
}

#aa-airing-sidebar::-webkit-scrollbar-thumb:hover {
  background: #ffc957; 
}

.aa-sidebar-head {
  position: fixed;
  top: 190px;
  z-index: 1;
  width: 20%;
  max-width: 80px;
  color: white;
  background-color: #ffc957;
  padding: 8px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 1px 10px black;
  border-bottom: 4px solid #f1f1f1;
}

/* - Seasons */
.aa-seasons-wrapper {
  height: 200px;
  position: initial;
  position: fixed;
  background-color: #4b4d51;
  z-index: 1;
  width: 80px;
}

.aa-seasons-head {
  color: white;
  background-color: #ffc957;
  padding: 8px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 1px 10px black;
  border-bottom: 4px solid white;
}

.aa-seasons-holder {
  min-height: 100px;
}

.aa-season-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.aa-season-list > li {
  height: 25px;
  max-height: 25px;
  margin-bottom: 10px;
}

.aa-season-list > li:hover:after {
  height: 25px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -24px;
  left: 90px;
  z-index: 100;
  color: #f3c053;
  background: #ffffff;
  font-style: italic;
  font-size: 18px;
  content: attr(season);
}
.aa-season-list > li > div {
  content: "";
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  margin: 0 auto;
}

#winter {
  background-image: url("../Images/Seasons/winter-1.svg");
}

#winter:hover {
  background-image: url("../Images/Seasons/winter-2.svg");
}

#spring {
  background-image: url("../Images/Seasons/spring-1.svg");
}

#spring:hover {
  background-image: url("../Images/Seasons/spring-2.svg");
}

#summer {
  background-image: url("../Images/Seasons/summer-1.svg");
}

#summer:hover {
  background-image: url("../Images/Seasons/summer-2.svg");
}

#autumn {
  background-image: url("../Images/Seasons/autumn-1.svg");
}

#autumn:hover {
  background-image: url("../Images/Seasons/autumn-2.svg");
}
/* - End Seasons*/

/* - Genres */
.aa-genre-holder {
  margin-top: 245px;
}

.aa-genre-list {
  list-style-type: none;
  margin: 60px 0px 0px 0px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

ul.aa-genre-list > li {
  margin-bottom: 20px; 
}

ul.aa-genre-list > li:last-child {
  margin-bottom: 20px; 
}

ul.aa-genre-list > li > div {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  content: "";
  margin: 0 auto;
}

ul.aa-genre-list > li:hover::after {
  position: relative;
  top: 10px;
  color: #ffffff;
  width: 100px;
  height: 25px;
  padding: 2px;
  content: attr(data-descr);
  text-align: center;
  font-style: italic;
}

#action {
  background-image: url("../Images/Genre/action.svg");
}

#action:hover {
  background-image: url("../Images/Genre/action_focus.svg");
}

#adventure {
  background-image: url("../Images/Genre/adventure.svg");
}

#adventure:hover {
  background-image: url("../Images/Genre/adventure_focus.svg");
}

#comedy {
  background-image: url("../Images/Genre/comedy.svg");
}

#comedy:hover {
  background-image: url("../Images/Genre/comedy_focus.svg");
}

#fantasy {
  background-image: url("../Images/Genre/fantasy.svg");
}

#fantasy:hover {
  background-image: url("../Images/Genre/fantasy_focus.svg");
}

#game {
  background-image: url("../Images/Genre/game.svg");
}

#game:hover {
  background-image: url("../Images/Genre/game_focus.svg");
}

#harem {
  background-image: url("../Images/Genre/harem.svg");
}

#harem:hover {
  background-image: url("../Images/Genre/harem_focus.svg");
}

#horror {
  background-image: url("../Images/Genre/horror.svg");
}

#horror:hover {
  background-image: url("../Images/Genre/horror_focus.svg");
}

#magic {
  background-image: url("../Images/Genre/magic.svg");
}

#magic:hover {
  background-image: url("../Images/Genre/magic_focus.svg");
}

#martial_arts {
  background-image: url("../Images/Genre/martial_arts.svg");
}

#martial_arts:hover {
  background-image: url("../Images/Genre/martial_arts_focus.svg");
}

#mecha {
  background-image: url("../Images/Genre/mecha.svg");
}

#mecha:hover {
  background-image: url("../Images/Genre/mecha_focus.svg");
}

#music {
  background-image: url("../Images/Genre/music.svg");
}

#music:hover {
  background-image: url("../Images/Genre/music_focus.svg");
}

#mystery {
  background-image: url("../Images/Genre/mystery.svg");
}

#mystery:hover {
  background-image: url("../Images/Genre/mystery_focus.svg");
}

#psychological {
  background-image: url("../Images/Genre/psychological.svg");
}

#psychological:hover {
  background-image: url("../Images/Genre/psychological_focus.svg");
}

#romance {
  background-image: url("../Images/Genre/romance.svg");
}

#romance:hover {
  background-image: url("../Images/Genre/romance_focus.svg");
}

#school {
  background-image: url("../Images/Genre/school.svg");
}

#school:hover {
  background-image: url("../Images/Genre/school_focus.svg");
}

#slice_of_life {
  background-image: url("../Images/Genre/slice_of_life.svg");
}

#slice_of_life:hover {
  background-image: url("../Images/Genre/slice_of_life_focus.svg");
}

#sport {
  background-image: url("../Images/Genre/sport.svg");
}

#sport:hover {
  background-image: url("../Images/Genre/sport_focus.svg");
}
/* - End Genres */
/* End Sidebar */

/* Airing Main */
#aa-airing-main {
  width: 100%;
  min-height: 535px;
  max-height: 535px;
  overflow-y: scroll;
}

.aa-airing-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.aa-airing-card {
  background-color: black;
  width: 150px;
  height: 165px;
  margin-top: 10px;
  margin-right: 10px;
}

/* End Airing Main*/
/* End Airing CSS*/
